<a href="https://colab.research.google.com/github/rlarkdtks312/nutrition_4_team/blob/master/sql_%3EdataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SQLite

In [2]:
!apt install sqlite3

Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 39 not upgraded.
Need to get 752 kB of archives.
After this operation, 2,482 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 sqlite3 amd64 3.22.0-1ubuntu0.4 [752 kB]
Fetched 752 kB in 0s (6,186 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 155455 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.22.0-1ubuntu0.4_amd64.deb ...
Unpacking sqlite3 (3.22.0-1ubuntu0.4) ...
Setting up sqlite3 (3.22.0-1ubuntu0.4) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import numpy as np
import pandas as pd

### 음식영양소 db 조회

In [22]:
import sqlite3

In [23]:
food_list = ['쌀밥', '근대된장국', '떡갈비']

In [26]:
def food_nutri(food_list) : 
    
    conn = sqlite3.connect('/content/drive/MyDrive/영양4조/[db]food_nutrition.db')


    with conn:
        cur = conn.cursor()
        sql = "select * from food_nutrition where 음식명=?"
        for i in food_list:
            food = (i,)
            cur.execute(sql, food)
            rows = cur.fetchall()
            cols = [column[0] for column in cur.description]
    data_df = pd.DataFrame.from_records(data=rows, columns=cols)

    return data_df

In [27]:
food_nutri(food_list)

,음식명,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg),트랜스지방(g)
0,떡갈비,250.0,762.99,26.61,12.49,51.58,43.09,26.18,411.76,838.84,915.68,0.0,3.26,8.66,157.5,0.0

In [31]:
conn = sqlite3.connect('/content/drive/MyDrive/영양4조/[db]food_nutrition.db')
sql = ("select * from food_nutrition")
ms = pd.read_sql(sql, conn)
ms.dropna(inplace=True)
ms.replace('-',0,inplace=True)
ms

,음식명,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg),트랜스지방(g)
0,쌀밥,210.0,334.80,73.71,0.00,0.45,5.76,3.60,126.00,59.40,146.70,0.00,0.36,1.35,0.00,0.0
1,기타잡곡밥,200.0,302.36,65.52,0.00,0.75,6.71,12.06,117.84,3.39,166.72,6.90,1.74,1.83,0.00,0.0
2,콩밥,200.0,322.90,65.85,0.00,1.67,8.43,24.70,126.90,4.10,258.40,22.50,1.74,1.61,0.00,0.0
3,보리밥,200.0,316.10,70.57,0.00,0.14,5.55,6.70,68.80,4.50,100.60,0.00,1.26,1.41,0.00,0.0
4,돌솥밥,350.0,528.86,101.85,0.00,8.35,10.19,61.46,193.72,618.32,624.32,57.79,3.32,2.58,2.37,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,다식,30.0,105.17,20.81,6.46,1.73,3.55,1.43,100.07,3.85,206.71,0.00,0.52,0.04,0.00,0.0
396,약과,30.0,113.85,22.18,2.15,1.24,2.57,4.45,28.23,16.46,59.42,0.00,0.57,0.14,0.00,0.0
397,유과,30.0,129.06,24.14,1.12,3.50,0.36,1.21,3.60,7.06,0.03,0.00,0.24,0.20,0.00,0.0
398,산자,30.0,121.70,24.70,10.63,1.20,0.91,2.00,20.36,8.01,60.93,0.00,0.41,0.27,0.00,0.0
399,깨강정,30.0,150.30,13.62,0.00,9.87,4.50,156.00,125.70,24.30,67.50,0.00,1.38,2.13,0.00,0.0

In [29]:
conn = sqlite3.connect('/content/drive/MyDrive/영양4조/[db]food_nutrition.db')
sql = "select * from food_nutrition"
ms = pd.read_sql(sql, conn)
ms.dropna(inplace=True)
ms.replace('-', 0, inplace=True)

In [31]:
connection = sqlite3.connect('/content/drive/MyDrive/영양4조/[db]food_nutrition.db')
# pd.read_sql("SELECT 구문",sqlite3연결,index_col='인덱스로 쓸 컬럼이름')
ms = pd.read_sql('/content/drive/MyDrive/영양4조/[db]food_nutrition.db')